<h1 align= "center">Create Merchant</h1>
<%= render partial: 'form', locals: {
                                      path: "/merchants",
                                      method: :post,
                                      button_text: 'Create Merchant'
                                    } %>